%div.row-fluid
  %div.span12
    %div#header_area
      %div.header_image
        =image_tag "another_story.png"
      %div.header_blurb
        %h1.header_text
          I'm Alex.
          %br
          %small Hey. Here is some text to get you through the day.

    %div#nav_area
      =link_to("#post_list") do
        %div.header_list
          %p Posts
      =link_to("#project_list") do
        %div.header_list
          %p Projects
      -if user_signed_in? 
        %div.header_list
          = render "shared/admin_bar"
