%div.span3.sb-fixed.sidebar-nav-fixed#sidebar
  =render "shared/homepagesidebar"
%div.span9.span-fixed-sidebar#main-content
  =render "splash"
  =render "postlist"
  =render "projectlist"
  =render "splash"
