-if @prev
  %a{:href => post_path(@prev)}
    %div#previous_box
      %p Previous
%div#header_area
  %div.header_image
    =image_tag "another_story.png"
  %div.header_blurb
    %h1.header_text
      Blog.
      %br
      %small
        My thoughts on Fiction and the Future

    %div.nav_area
      %div.header_list
        %p=link_to  "Posts", posts_path
      %div.header_list
        %p=link_to  "Projects", projects_path
      %div.header_list
        = render "shared/admin_bar"
-if user_signed_in?
  = link_to 'Edit', edit_post_path(@post)
  \|
  = link_to 'Back', posts_path
-if @next
  %a{:href => post_path(@next)}
    %div#next_box
      %p Next
