%div#header_area.row-fluid
  %div.span12
    %div.header_image
      =image_tag "another_story.png"
    %div.header_blurb
      %h1.header_text
        Blog.
        %br
        %small
          My thoughts on Fiction and the Future

%div#nav_area
  =link_to(posts_path) do
    %div.header_list
      %p Posts
  =link_to(projects_path) do
    %div.header_list
      %p Projects
  -if user_signed_in? 
    %div.header_list
      = render "shared/admin_bar"
-if user_signed_in?
  = link_to 'Edit', edit_post_path(@post)
  \|
  = link_to 'Back', posts_path
%div#post_end.visible-desktop
  = render "postend"
