// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";

p.admin_text {
  float: left;
}


.alert {
  background-color: transparent;
  border-color: transparent;
}

.admin_bar {
  float: left;
}

.clear {
  clear:both;
}

.read_more {
  float:right;
}

.header_list p { 
    font-size: 20px;
  }

.header {
  clear:both
  }

@media (max-width: 480px) {

  .header_image {
    margin-left: 25%;
    float:none!important;
  }
  .header_text {
    text-align:center;
  }
}

@media (max-width: 767px) {

  .container-fluid {
    padding:0 0 0 0;
  }
  .header_blurb {
    float:left;
    //width:40%;
  }
  .header_image {
    float:left;
    //width:40%;
  }
  .header_list {
    float:left;
    padding:16px 0;
    width:30%;
  }
}

@media (min-width: 768px) {

  .container-fluid {
    padding:10px 0 0 0;
  }
  .sb-fixed{
    position: fixed;
  }
  .header_blurb {
    clear:both;
  }
  .header_image {
    clear:both;
  }
  .header_list {
    clear:both;
    float:right;
    padding:8px 0;
  }
  .sidebar-nav-fixed {
      border-right:1px;
      border-color:black;
      position:fixed;
      //left:20px;
      top:0%;
      //width:250px;
  }

  .nav_area {
  padding-top:25px;
}
  .row-fluid > .span-fixed-sidebar {
      margin-left: 23.077% ;
  }
}
#main-content { 
  //overflow:hidden;
}
