// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header_area {
clear:both;
margin:10% 0 0 5%;
}

$span3width: 23.077%;
#next_box{
   left:0px;
   height:30px;
   bottom:0px;
   width: $span3width;
   background:#E6E6E6;
   text-align:center;
}

#previous_box {
   left:0px;
   top:0px;
   height:30px;
   background:#E6E6E6;
   text-align:center;
}

#next_box p {
  line-height: 2;
}
#previous_box p {
  line-height: 2;
}

@media (max-width: 767px){
  #next_box {
  position:fixed;
   width: 100%;
  }
  #previous_box {
   width: 100%;
  position:absolute;
  }
  }
@media (min-width: 768px){
  #next_box {
  position:fixed;
   width: $span3width;
  }
  #previous_box {
  position:fixed;
   width: $span3width;
  }
  }
