// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$span3width: 23.077%;

#post-title {
  clear:both;
  width:100%;
  background:#fff;
}

#post-title h1{
  margin:1%;
}


#post_end {
}

#post_end:hover {
}

#header_area {
  clear:both;
  margin:15% 5% 0  8%;
}

#sidebar {
  height:100%;
  border-radius: 4px;

}

.post_box {
  width:100%;
  clear:both;
}

.post_nav {
  width: 48%;
  text-align:center;
}

.read_more {
  clear:both;
}
#next_box {
}

#next_box i {
float:right
}

#next_box p {
  text-align: center;
  clear:none;
}

#previous_box {
}
#previous_box p {
  text-align: center;
}
#previous_box i {
  float:left;
}

.read_more {
  width:100%;
  text-align:center;
}


@media (max-width: 767px){

  #post-title h1{
    text-align:center;
  }

  

  #next_box {
  }
  .nav_area {
    border-bottom: 1px solid #e6e6e6;
    min-height:50px;
  }

  #previous_box {
  }
  .main {
    display:none;
  }
.title { 
  clear:both;
}
  #header_area {
    clear:both;
    margin:5% 5% 0  8%;
  }
}
@media (min-width: 768px){
  #post-title {
    z-index:0;
    position:fixed;
    border-bottom: 1px solid #E3E3E3;
    box-shadow: 1px 1px 8px 0px #E6E6E6;

  }
  #header_area {
    clear:both;
    margin:15% 5% 0  8%;
  }
  .alt {
    display:none;
  }
  #sidebar {
    border-right: 1px solid #e6e6e6;
    box-shadow: 1px 1px 8px 0px #E6E6E6;
  }
  #post-content {
    margin:3%;
    margin-top:8%;
  }
  #previous_box {
  }
  #post_end { 
    min-height: 20%;
    padding-top:5%;
  }
} 
